<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>ClipboardUI</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="Segoe-MDL2-Assets.css">
    <link rel="stylesheet" type="text/css" href="ClipboardUI.css">
    <script type="text/javascript" src="vue.min.js"></script>
    <script type="text/javascript" src="vant.min.js"></script>
</head>

<body style="-webkit-font-smoothing: antialiased; font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif,'宋体';">
    <div id="vuediv">
        <!--Settings Panel-->
        <van-popup id="settingPopup" v-model="settingShow" position="left" onselectstart="return false;"
            :style="{background:'white',width: '75%',height: '100%', cursor: 'default' }">
            <van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px', cursor: 'default' }">
                {{ textShow[languageTextEnum.SpeechSettings1] }}
            </van-divider>
            <div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechEnabled] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechEnabled - 1]" @change="onChangeSpeech">
                    </van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechTop] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechTop - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]" @change="onChangeSpeechTop">
                    </van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechEdit] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechEdit - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]" @change="onChangeSpeechEdit">
                    </van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechCopy] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechCopy - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]" @change="onChangeSpeechCopy">
                    </van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechIgnore] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechIgnore - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]" @change="onChangeSpeechIgnore">
                    </van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechClearAll] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechClearAll - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]"
                        @change="onChangeSpeechClearall"></van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.SpeechSettings2] }}</div>
                    <van-switch v-model="settings.Speech[languageTextEnum.SpeechSettings2 - 1]"
                        :disabled="!settings.Speech[languageTextEnum.SpeechEnabled - 1]"
                        @change="onChangeSpeechSetting"></van-switch>
                </div>
            </div>
            <van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px', cursor: 'default' }">
                {{ textShow[languageTextEnum.OtherSettings] }}
            </van-divider>
            <div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.IsTop] }}</div>
                    <van-switch v-model="settings.IsTop" @change="onChangeIsTop"></van-switch>
                </div>
                <div class="divStyle">
                    <div class="textStyle">{{ textShow[languageTextEnum.Language] }}</div>
                    <van-tag type="primary" size="large" @click="onLanguageClick">{{ languages[settings.Language] }}
                    </van-tag>
                </div>
                <div>
                    <div class="textStyle" style="margin-left:15px;">{{ textShow[languageTextEnum.Opacity] }}</div>
                    <div style="margin: 10px 15px; cursor: pointer;">
                        <van-slider v-model="settings.Opacity" bar-height="4px" active-color="deepskyblue"
                            @change="onSliderChange" @input="onSliderInput">
                            <div slot="button" class="sliderButton">
                                {{ settings.Opacity }}
                            </div>
                        </van-slider>
                    </div>
                </div>
            </div>
            <transition name="van-fade">
                <van-picker v-show="languageShow" show-toolbar :cancel-button-text="textShow[languageTextEnum.Cancel]"
                    :confirm-button-text="textShow[languageTextEnum.Confirm]"
                    :title="textShow[languageTextEnum.LanguageSelection]" :default-index="settings.Language"
                    :columns="languages" @cancel="onLanguageCancel" @confirm="onLanguageConfirm"></van-picker>
            </transition>
        </van-popup>
        <!---->
        <!--Edit Panel-->
        <van-popup id="editPopup" v-model="editShow" round position="bottom" :style="{ height: '40%' }">
            <van-field v-model="editText" type="textarea" :rows="row"
                v-if="content.length != 0 && content[editId].type == languageTextEnum.Text">
                <div slot="label">
                    <div style="display:flex;">
                        <van-icon class-prefix="mdl2" name="edit" size="22"></van-icon>
                        <div style="margin-left:5px;font-size:18px;">{{ textShow[languageTextEnum.Edit] }}</div>
                    </div>
                    <div style="position: absolute;bottom: 0;">
                        <van-button class="ripple" size="small" type="primary" @click="onEditOkClick">
                            {{ textShow[languageTextEnum.OK] }}
                        </van-button>
                    </div>
                </div>
            </van-field>
            <div style="display: flex; min-height: 100%; flex-flow: row wrap;"
                v-if="content.length != 0 && content[editId].type == languageTextEnum.Document">
                <div style="width: 100%; align-self: flex-start;">
                    <div style="display: flex; justify-content: space-between;"
                        v-for="(fileItem,fileIndex) in editFile">
                        <div style="width: 100%;" class="van-ellipsis" :title="fileItem.path">
                            <van-cell icon-prefix="mdl2" :icon="iconShow[fileItem.type]" :border="false"
                                :title="fileItem.name" value=""></van-cell>
                        </div>
                        <van-icon :id="fileIndex" class="calendar" style="margin: auto 18px;" class-prefix="mdl2"
                            name="delete" :title="textShow[languageTextEnum.Ignore]" @click="onIgnoreFile"></van-icon>
                    </div>
                    <div style="font-style: italic;" class="van-ellipsis" :title="textShow[languageTextEnum.Add]">
                        <van-cell icon-prefix="mdl2" icon="new-folder" :border="false"
                            :title="textShow[languageTextEnum.Add] + '…'" value="" @click="onAddFile"></van-cell>
                    </div>
                </div>
                <van-button style="width: 100%; align-self: flex-end;" square type="primary" @click="onEditFileOkClick">
                    {{ textShow[languageTextEnum.OK] }}</van-button>
            </div>
        </van-popup>
        <van-popup id="searchTypePopup" v-model="searchTypeShow" round position="center"
            :style="{ width: '300px', cursor: 'default' }">
            <div class="searchTypeItem">
                <van-cell icon-prefix="mdl2" :icon="iconShow[languageTextEnum.All]" :border="true"
                    :title="textShow[languageTextEnum.All]" value=""
                    :style="`background-color: ${searchType == languageTextEnum.All ? 'deepskyblue' : 'inherit'};`"
                    @click="onSearchTypeSelectAll">
                </van-cell>
            </div>
            <div class="searchTypeItem">
                <van-cell icon-prefix="mdl2" :icon="iconShow[languageTextEnum.Text]" :border="true"
                    :title="textShow[languageTextEnum.Text]" value=""
                    :style="`background-color: ${searchType == languageTextEnum.Text ? 'deepskyblue' : 'inherit'};`"
                    @click="onSearchTypeSelectText">
                </van-cell>
            </div>
            <div class="searchTypeItem">
                <van-cell icon-prefix="mdl2" :icon="iconShow[languageTextEnum.Document]" :border="true"
                    :title="textShow[languageTextEnum.Document]" value=""
                    :style="`background-color: ${searchType == languageTextEnum.Document ? 'deepskyblue' : 'inherit'};`"
                    @click="onSearchTypeSelectFile">
                </van-cell>
            </div>
            <div class="searchTypeItem">
                <van-cell icon-prefix="mdl2" :icon="iconShow[languageTextEnum.Image]" :border="true"
                    :title="textShow[languageTextEnum.Image]" value=""
                    :style="`background-color: ${searchType == languageTextEnum.Image ? 'deepskyblue' : 'inherit'};`"
                    @click="onSearchTypeSelectImage">
                </van-cell>
            </div>
        </van-popup>
        <!---->
        <!--Select Date Range-->
        <van-calendar v-model="calendarShow" color="deepskyblue" type="range"
            :confirm-text="textShow[languageTextEnum.Confirm]"
            :confirm-disabled-text="textShow[languageTextEnum.Confirm]" :min-date="minDate" :max-date="maxDate"
            allow-same-day @confirm="onDateSelectConfirm">
            <div slot="title">
                <div style="display: flex; justify-content: center;">
                    <van-icon class="calendar" style="margin: auto -38px auto 18px;" class-prefix="mdl2"
                        name="calendar-reply" :title="textShow[languageTextEnum.DeselectDate]"
                        @click="onDateSelectCancel"></van-icon>
                    <div style="margin: 0px auto; text-align: center;">{{ textShow[languageTextEnum.SelectDate] }}</div>
                </div>
            </div>
        </van-calendar>
        <!---->
        <!--Top-->
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex;">
                <div style="width: 100%;">
                    <form action="/">
                        <van-search v-model="value" :placeholder="textShow[languageTextEnum.NoneSearchKeywordsTip]"
                            shape="round" @search="onSearch" @input="onInput">
                            <div slot="left-icon">
                                <van-icon class="calendar" class-prefix="mdl2" name="find-legacy"
                                    :title="textShow[searchType]" @click="onSearchTypeShow"></van-icon>
                            </div>
                            <div slot="right-icon">
                                <van-icon class="calendar" class-prefix="mdl2" name="calendar"
                                    :title="textShow[languageTextEnum.SelectDate]" @click="onDateSelectShow"></van-icon>
                            </div>
                        </van-search>
                    </form>
                </div>
                <div class="topCtrl" :title="textShow[languageTextEnum.ClearAll]">
                    <van-icon class-prefix="mdl2" name="delete" size="30" @click="onClear" v-if="content.length != 0">
                    </van-icon>
                </div>
                <div class="topCtrl" :title="textShow[languageTextEnum.Settings]">
                    <van-icon class-prefix="mdl2" name="settings" size="30" @click="onSetting"></van-icon>
                </div>
            </div>
            <div style="text-align: center; color: deepskyblue;"
                v-if="calendarDateSelect[0] != null || searchType != languageTextEnum.All">
                {{ getSearchCondition() }}</div>
        </div>
        <!---->
        <!--Result Number-->
        <van-divider :style="{ color: '#1989fa', borderColor: '#1989fa', padding: '0 16px', cursor: 'default' }"
            v-show="mode == 1 ? true : false">
            {{ rcNum }} {{ textShow[languageTextEnum.Results] }}
        </van-divider>
        <!---->
        <!--Render Records-->
        <transition-group appear tag="">
            <div v-for="(item,index) in getContent" v-if="item.lock && containDate(item.time)"
                :key="`recordPanel${item.key}`">
                <van-panel style="position: relative;">
                    <div slot="header">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex;">
                                <van-icon class-prefix="mdl2" :name="iconShow[item.type]" size="22"
                                    style="margin: 5px 5px 5px 18px;"></van-icon>
                                <div style="margin: 5px 5px 5px 0px;">{{ textShow[item.type] }}</div>
                            </div>
                            <div style="margin: 5px 18px 5px 5px; color: red;">{{ getShowDate(item.time) }}</div>
                        </div>
                        <van-divider style="margin: 0px;"></van-divider>
                    </div>
                    <div style="padding-left: 18px; " class="van-multi-ellipsis--l3"
                        v-if="item.type == languageTextEnum.Text">
                        {{ item.text }}
                    </div>
                    <div style="padding-left: 18px; " v-if="item.type == languageTextEnum.Document">
                        <div class="van-ellipsis" v-for="(fileItem,fileIndex) in getFileNames(item.text)">
                            <van-icon class-prefix="mdl2" :name="iconShow[fileItem.type]" :title="fileItem.path"
                                style="margin: 5px 5px 5px 0px;">{{ fileItem.name }}</van-icon>
                        </div>
                    </div>
                    <div style="padding-left: 18px; margin-right: 18px;" v-if="item.type == languageTextEnum.Image">
                        <van-image :src="item.text" alt="???" fit="scale-down" :title="getFileName2(item.text)">
                        </van-image>
                    </div>
                    <div slot="footer" style="display: flex; justify-content: space-between;">
                        <div style="display: flex;">
                            <van-button :id="item.id" class="ripple" size="small" color="#7232dd" icon-prefix="mdl2"
                                icon="edit" @click="onEditClick" onmousedown="lockDown(event)"
                                onmouseup="lockUp(event)">
                                {{ textShow[languageTextEnum.Edit] }}/{{ textShow[languageTextEnum.Unlock] }}
                            </van-button>
                            <div style="margin:auto 4px;color:orangered;">
                                <van-icon class-prefix="mdl2" name="favorite-star-fill" size="22"></van-icon>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <van-button :id="item.id" class="ripple" size="small" type="primary"
                                style="margin-right:3px;" icon-prefix="mdl2" icon="copy" @click="onCopyClick">
                                {{ textShow[languageTextEnum.Copy] }}</van-button>
                            <van-button :id="item.id" class="ripple" size="small" type="info" icon-prefix="mdl2"
                                icon="delete" @click="onIgnoreClick">{{ textShow[languageTextEnum.Ignore] }}
                            </van-button>
                        </div>
                    </div>
                </van-panel>
            </div>
            <div v-for="(item,index) in getContent" v-if="!item.lock && containDate(item.time)"
                :key="`recordPanel${item.key}`">
                <van-panel style="position: relative;">
                    <div slot="header">
                        <div style="display: flex; justify-content: space-between;">
                            <div style="display: flex;">
                                <van-icon class-prefix="mdl2" :name="iconShow[item.type]" size="22"
                                    style="margin: 5px 5px 5px 18px;"></van-icon>
                                <div style="margin: 5px 5px 5px 0px;">{{ textShow[item.type] }}</div>
                            </div>
                            <div style="margin: 5px 18px 5px 5px; color: red;">{{ getShowDate(item.time) }}</div>
                        </div>
                        <van-divider style="margin: 0px;"></van-divider>
                    </div>
                    <div style="padding-left: 18px; " class="van-multi-ellipsis--l3"
                        v-if="item.type == languageTextEnum.Text">
                        {{ item.text }}
                    </div>
                    <div style="padding-left: 18px; " v-if="item.type == languageTextEnum.Document">
                        <div class="van-ellipsis" v-for="(fileItem,fileIndex) in getFileNames(item.text)">
                            <van-icon class-prefix="mdl2" :name="iconShow[fileItem.type]" :title="fileItem.path"
                                style="margin: 5px 5px 5px 0px;">{{ fileItem.name }}</van-icon>
                        </div>
                    </div>
                    <div style="padding-left: 18px; margin-right: 18px;" v-if="item.type == languageTextEnum.Image">
                        <van-image :src="item.text" alt="???" fit="scale-down" :title="getFileName2(item.text)">
                        </van-image>
                    </div>
                    <div slot="footer" style="display: flex; justify-content: space-between;">
                        <van-button :id="item.id" class="ripple" size="small" color="#7232dd" icon-prefix="mdl2"
                            icon="edit" @click="onEditClick" onmousedown="lockDown(event)" onmouseup="lockUp(event)">
                            {{ textShow[languageTextEnum.Edit] }}/{{ textShow[languageTextEnum.Lock] }}
                        </van-button>
                        <div style="display: flex;">
                            <van-button :id="item.id" class="ripple" size="small" type="primary"
                                style="margin-right:3px;" icon-prefix="mdl2" icon="copy" @click="onCopyClick">
                                {{ textShow[languageTextEnum.Copy] }}
                            </van-button>
                            <van-button :id="item.id" class="ripple" size="small" type="info" icon-prefix="mdl2"
                                icon="delete" @click="onIgnoreClick">{{ textShow[languageTextEnum.Ignore] }}
                            </van-button>
                        </div>
                    </div>
                </van-panel>
            </div>
        </transition-group>
    </div>
    <script type="text/javascript" src="ClipboardUI.js"></script>
</body>

</html>